body{
    background-color: lightgrey;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.main{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.mensajes{
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 0;
}


.principal{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.principal h1{
    margin-bottom: 5px ;
    font-weight: 420;
}

.principal p{
    margin: 2px;
}

.inicio{
    display: flex;
    justify-content: space-around;
    height: 9vh;
    background-color: #fff;
    margin-bottom: 2px;
}

.text{
    display: flex;
    flex-direction: column;
    padding-left: 7px;
}

.text p{
    margin: 0;
}

.nombre{
    font-size: 12px;
    font-weight: 500;
}

.estado{
    font-size: 10px;
    font-weight: 400;
    color: darkgray;

}

.sesion{
    display: flex;
    align-items: center;

}

.perfil{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    padding: 2px;
    background-color: darkgray;
}

.caja{
    display: flex;
    flex-direction: column;
}

.principal img{
    width: 20vw;
}

.iconos{
    display: flex;
    align-items: center;
    color: #828485;
}

.iconos i{
    font-size: 1.3vw;
    margin: 8px;
}

.nuevo{
    background-color: #fff;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19vh;
}

.nuevoChat{
    border: 0;
    color: #fff;
    background-color: #A491D2;
    padding: 5%;
    padding-inline: 16%;
    cursor: pointer;
}

.nuevoChat:hover{
    background-color: #cdc3e6;
}

.nuevoChat:focus{
    background-color: #828485;
}

.chat{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 9vh;
    padding-left: 10%;
    margin-bottom: 2px;
}

.perfilChat{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    padding: 2px;
    background-color: darkgray;
}

.msje{
    font-size: 12px;
}
